body{
    background-color: aliceblue;
}

#header-body{
    background-color: bisque;
    height: 100px;
}

main{
    background-color: blueviolet;
    height: calc(100vh - 100px);
    display: flex;


}

#sidebar-main{
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    width: 100px;
    flex-shrink: 0;
}

#content-main{
    background-color: red;
    overflow: auto;
    
}

#header-content{
    background-color: #1B72E8 ;
}