body{
    background-color: aliceblue;
}

#header-body{
    background-color: #F8F9FA;
    padding: 21px 0;
}
.color-gold{
    color: #FF8F00;
}


.h-50px{
    height: 50px;
}

.logo-img{
    flex-basis: 15%;
}
.nav-icons{
    flex-basis: 10%;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    background-color: white;
}

.bg-white{
    background-color: white;
}




main{
    background-color: blueviolet;
    height: calc(100vh - 88px);
    display: flex;


}

#sidebar-main{
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    width: 100px;
    flex-shrink: 0;
}

#content-main{
    background-color: red;
    overflow: auto;
    
}

#header-content{
    background-color: #1B72E8 ;
}